@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans',serif;
  padding: 0;
  margin:0;
}


h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}


.intro h3 {
 color:#fff;
 padding:0;
 margin:0

}

.intro h1 {
  margin-top:0;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

ul {
  list-style-type: square;
  margin-bottom: 1em;
  padding-left: 2em;
}

ol {
  list-style-type: decimal;
  margin-bottom: 1em;
  padding-left: 2em;
}

li {
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  background-color: #004474;
  color: white;
}

.btn-primary:hover {
  background-color: #0c2f47;
}

.btn-secondary {
  background-color: #02491d;
  color: white;
}

.btn-secondary:hover {
  background-color: #000904;
}



header {
  background-color: transparent;
  background-image: url(img/banner.jpeg);
  background-size: cover;
  background-position: bottom center;
  height: 450px;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

nav a {
  color: #000;
  text-decoration: none;
  margin-right: 1em;
  padding: 0.5em 1em;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #ccc;
  color: #fff;
}

.logo {
  height: 60px;
  margin-left: 20px;
}

.intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 5%;
}

.intro img{
  position: relative;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 9999;
  transition: all .3s ease-out;

}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

.banner {
  text-align: center !important;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(44 44 44 / 82%), rgb(0 78 149));
}

.title, .lead {

  color: #fff!important;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgb(0 0 0 / 22%) 0px 4px 9px 6px;
  margin: 2em;
  padding: 1em;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
}

.about-section, .info-section {
  flex: 1; 
  margin-right: 1em;
}

.about-section {
  
}

.info-section {
  
}



.skill-section {
  text-align: center;
  padding: 40px;
}

.skill-demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.skill-item {
  width: 300px;
  margin: 20px;
  text-align: left;
}

.skill-level {
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.skill-level span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

